In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
# Read the movie dataset
icols= ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
item=pd.read_csv('ml-100k/u.item', sep='|', names=icols , encoding='latin')

In [3]:
item.head(3)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
movie_content=item[['movie id','movie title','Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [5]:
movie_content

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [6]:
# read rating dataset
rcols=['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings=pd.read_csv('ml-100k/u.data', sep='\t', names=rcols , encoding='latin-1')

In [7]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [8]:
# check
ratings[ratings['user_id']==196][['movie_id','rating']]

       movie_id  rating
0           242       3
940         393       4
1133        381       4
1812        251       3
1896        655       5
2374         67       5
6910        306       4
7517        238       4
7842        663       5
10017       111       4
10254       580       2
10981        25       4
13733       286       5
14606        94       3
16834       692       5
17102         8       5
17830       428       4
18853      1118       4
21605        70       3
22271        66       3
22773       257       2
23189       108       4
24030       202       3
25726       340       3
32721       287       3
33536       116       3
35197       382       4
36281       285       5
41539      1241       3
42384      1007       4
50147       411       4
52726       153       5
56628        13       2
59165       762       3
59607       173       2
60199      1022       4
60706       845       4
78787       269       3
87863       110       1

In [9]:
# create pivot table

datama=ratings.pivot_table(index='user_id' , columns='movie_id' , values='rating')
datama

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data_matrix=datama.replace(np.nan,0)

In [11]:
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# creating user vector
user_vector=data_matrix.T
user_vector

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0
2,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0,...,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# creating movie vector
movie_vec=item[['Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [14]:
movie_vec.index=range(1,1683)

In [15]:
movie_vector=movie_vec.T

In [16]:
movie_vector

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
Action,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Adventure,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Animation,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Children's,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Comedy,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
Crime,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Documentary,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Drama,0,0,0,1,1,1,1,1,1,1,...,0,1,1,1,1,1,0,1,0,1
Fantasy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Film-Noir,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Horror,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Musical,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
Sci-Fi,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Thriller,0,1,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
War,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Flow Check
# Create the content vector(user_vector and Item Vector)

In [17]:
# check for u1

u1=ratings[ratings['user_id']==1][['movie_id','rating']]

In [18]:
u1

       movie_id  rating
202          61       4
305         189       3
333          33       4
334         160       4
478          20       4
...         ...     ...
92049        28       4
92487       172       5
94019       122       3
96699       152       5
99073        94       2

[272 rows x 2 columns]

In [19]:
# Create the content list for user based on movie_vector

u1_list=[]

for i in u1['movie_id']:
    f=movie_vector[i].values
    u1_list.append(f)

In [20]:
uu1=pd.DataFrame(u1_list,columns=range(1,19))

In [21]:
uu1

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18
0     0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
1     0   0   1   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
2     1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   1   0   0
3     0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
267   1   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   0
268   1   1   0   0   0   0   0   1   0   0   0   0   0   1   1   0   1   0
269   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
270   0   0   0   0   1   0   0   0   0   0   0   0   0   0   1   0   0   0
271   0   0   0   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0

[272 rows x 18 columns]

In [22]:
# Create single vector for one user by summing the each genre column

vec=[]

for j in range(1,19):
    g=sum(uu1[j])
    vec.append(g/272)

In [23]:
# single User
vec

[0.2757352941176471,
 0.15441176470588236,
 0.04411764705882353,
 0.09191176470588236,
 0.33455882352941174,
 0.09191176470588236,
 0.01838235294117647,
 0.39338235294117646,
 0.007352941176470588,
 0.003676470588235294,
 0.04779411764705882,
 0.04779411764705882,
 0.01838235294117647,
 0.16176470588235295,
 0.15808823529411764,
 0.19117647058823528,
 0.09191176470588236,
 0.022058823529411766]

In [51]:
# Create a vector list for whole user with to movie vector

vector=[]
for user in range(1,944):
    u1=ratings[ratings['user_id']==user][['movie_id','rating']]
    u1_list=[]
    for i in u1['movie_id']:
        f=movie_vector[i].values
        u1_list.append(f)
    uu1=pd.DataFrame(u1_list,columns=range(1,19))
    
    vec=[]
    for j in range(1,19):
        g=sum(uu1[j])
        vec.append(g/272)
    vector.append(vec)

In [52]:
# function

def user_vector(ratings,movie_vector):
    vector=[]
    for user in range(1,944):
        u1=ratings[ratings['user_id']==user][['movie_id','rating']]
        u1_list=[]
        for i in u1['movie_id']:
            f=movie_vector[i].values
            u1_list.append(f)
        uu1=pd.DataFrame(u1_list,columns=range(1,19))
        
        vec=[]
        for j in range(1,19):
            g=sum(uu1[j])
            vec.append(g/272)
        vector.append(vec)
    return vector

In [53]:
vector=user_vector(ratings,movie_vector)

In [54]:
users_vector=pd.DataFrame(vector)

In [55]:
users_vector

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.275735,0.154412,0.044118,0.091912,0.334559,0.091912,0.018382,0.393382,0.007353,0.003676,0.047794,0.047794,0.018382,0.161765,0.158088,0.191176,0.091912,0.022059
1,0.036765,0.011029,0.003676,0.014706,0.058824,0.033088,0.000000,0.128676,0.003676,0.007353,0.007353,0.003676,0.014706,0.058824,0.014706,0.044118,0.011029,0.000000
2,0.051471,0.014706,0.000000,0.000000,0.044118,0.036765,0.003676,0.080882,0.000000,0.007353,0.018382,0.007353,0.040441,0.018382,0.029412,0.077206,0.018382,0.000000
3,0.029412,0.014706,0.000000,0.000000,0.014706,0.014706,0.003676,0.022059,0.000000,0.000000,0.003676,0.003676,0.018382,0.011029,0.022059,0.040441,0.007353,0.000000
4,0.205882,0.121324,0.051471,0.106618,0.301471,0.033088,0.000000,0.099265,0.007353,0.003676,0.102941,0.044118,0.011029,0.069853,0.121324,0.069853,0.051471,0.007353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.066176,0.036765,0.003676,0.003676,0.055147,0.011029,0.000000,0.066176,0.003676,0.000000,0.003676,0.003676,0.003676,0.036765,0.029412,0.044118,0.011029,0.000000
939,0.084559,0.044118,0.007353,0.018382,0.154412,0.025735,0.000000,0.176471,0.000000,0.011029,0.014706,0.025735,0.011029,0.088235,0.069853,0.073529,0.055147,0.000000
940,0.036765,0.025735,0.011029,0.007353,0.025735,0.003676,0.000000,0.018382,0.000000,0.000000,0.000000,0.003676,0.003676,0.003676,0.029412,0.025735,0.003676,0.000000
941,0.066176,0.040441,0.014706,0.047794,0.080882,0.000000,0.000000,0.113971,0.007353,0.003676,0.011029,0.018382,0.033088,0.062500,0.022059,0.073529,0.036765,0.011029
942,0.235294,0.128676,0.007353,0.033088,0.205882,0.066176,0.000000,0.209559,0.007353,0.000000,0.051471,0.014706,0.011029,0.121324,0.080882,0.128676,0.055147,0.033088

In [56]:
users_vector.shape

(943, 18)

In [57]:
movie_vector.shape

(18, 1682)

In [58]:
# Dot matrix for  user_vector and movie_vector
content_vector=np.dot(users_vector,movie_vector)

In [59]:
# Data Frame  for content vector
content_vector=pd.DataFrame(content_vector)

In [60]:
# Transpose for content vector
content_vectors=content_vector.T

In [61]:
content_vectors

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,0.470588,0.077206,0.044118,0.014706,0.459559,0.352941,0.503676,0.047794,0.022059,0.227941,...,0.308824,0.040441,0.194853,0.055147,0.205882,0.062500,0.180147,0.044118,0.143382,0.246324
1,0.621324,0.091912,0.143382,0.084559,0.397059,0.261029,0.845588,0.272059,0.044118,0.268382,...,0.308824,0.125000,0.250000,0.047794,0.308824,0.147059,0.202206,0.088235,0.180147,0.492647
2,0.191176,0.044118,0.077206,0.040441,0.069853,0.088235,0.283088,0.066176,0.018382,0.125000,...,0.077206,0.040441,0.102941,0.014706,0.117647,0.044118,0.073529,0.025735,0.073529,0.128676
3,1.003676,0.224265,0.176471,0.066176,0.606618,0.716912,1.209559,0.242647,0.077206,0.562500,...,0.621324,0.154412,0.525735,0.158088,0.393382,0.187500,0.415441,0.080882,0.261029,0.650735
4,0.676471,0.205882,0.194853,0.077206,0.202206,0.522059,0.937500,0.161765,0.058824,0.481618,...,0.360294,0.117647,0.400735,0.113971,0.257353,0.121324,0.275735,0.047794,0.187500,0.404412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0.393382,0.128676,0.080882,0.022059,0.099265,0.382353,0.536765,0.062500,0.040441,0.297794,...,0.250000,0.066176,0.250000,0.091912,0.117647,0.066176,0.176471,0.018382,0.113971,0.209559
1678,0.352941,0.102941,0.095588,0.051471,0.139706,0.238971,0.488971,0.091912,0.047794,0.257353,...,0.209559,0.084559,0.216912,0.047794,0.194853,0.080882,0.161765,0.029412,0.136029,0.250000
1679,0.555147,0.187500,0.099265,0.033088,0.169118,0.533088,0.742647,0.088235,0.069853,0.430147,...,0.382353,0.110294,0.363971,0.125000,0.194853,0.102941,0.264706,0.022059,0.176471,0.330882
1680,0.334559,0.058824,0.044118,0.014706,0.301471,0.242647,0.323529,0.036765,0.022059,0.172794,...,0.231618,0.033088,0.176471,0.044118,0.147059,0.055147,0.154412,0.025735,0.080882,0.205882
1681,0.393382,0.128676,0.080882,0.022059,0.099265,0.382353,0.536765,0.062500,0.040441,0.297794,...,0.250000,0.066176,0.250000,0.091912,0.117647,0.066176,0.176471,0.018382,0.113971,0.209559

In [62]:
# backup
content_vectors.to_csv("content_vector",index=False)

# individual check for user

In [63]:
u2=ratings[ratings['user_id']==4]['movie_id'].values

In [64]:
len(u2)

24

In [65]:
# creates a boolean mask, which is True for elements in the fifth column that are greater than
# the maximum value of the fifth column minus 0.5.

val=content_vectors[content_vectors[4]>(content_vectors[4].max()-0.5)][2]
#val=content_vectors[content_vectors[4]>(content_vectors[4].max()-0.5)][2]

In [66]:
len(val)

357

In [67]:
recom=[]
for i in val.index:
    if(i in u2):
        pass
    else:
        recom.append(i)

In [68]:
len(recom)

352

In [69]:
def content_based(ratings,content_vectors,user,thresh):
    u2=ratings[ratings['user_id']==user]['movie_id'].values
    val=content_vectors[content_vectors[user]>(content_vectors[user].max()-thresh)][2]
    recom=[]
    for i in val.index:
        if(i in u2):
            pass
        else:
            recom.append(i)

    return recom

In [72]:
recom=content_based(ratings,content_vectors,4,0.3)

In [73]:
len(recom)

27

In [75]:
recom_df=pd.DataFrame(recom)

In [ ]:
recom_df.head(5)